<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar Producto</title>
    <link rel="stylesheet" href="js/css/Compra_Producto.css">
</head>
<body>
    <div class="container">
        <h1>Producto</h1>
        <div class="product">
            <img src="img/tomate-1024x680-1.jpg" alt="Tomate Chonto fresco" />
            <h2>Tomate Chonto 1.L</h2>
            <p>Tomate Chonto en bandeja. Precio: <strong>$3,000</strong></p>
            <button id="buy-button">Comprar</button>
        </div>
    </div>

    <script src="compra_producto.js"></script>
</body>
</html>