<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Lacteos </title>
    <link rel="stylesheet" href="Loginstyle.css">
    <link rel="stylesheet" href="/Dev/Views/img/Agricultura-de-plantación.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-light text-center py-3">
        <h1>Bienvenido a Nuestra Tienda</h1>
    </header>
<main class="container mt-4">
    <h2 class="text-center mb-4">Productos Lacteos</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="/Dev/Views/img/YOGURT.jpg" class="card-img-top" alt="Jabón líquido">
                <div class="card-body">
                    <h5 class="card-title">Yogurt</h5>
                    <p class="card-text">$5.000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="/Dev/Views/img/Queso Mosarella.png" class="card-img-top" alt="Jabón en polvo">
                <div class="card-body">
                    <h5 class="card-title">Queso Mosarella</h5>
                    <p class="card-text">$14.500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="/Dev/Views/img/Leche Colanta (1).jpg" class="card-img-top" alt="Jabón en polvo de limón">
                <div class="card-body">
                    <h5 class="card-title">Leche Colanta</h5>
                    <p class="card-text">$32.200</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</main>
    <footer class="text-center py-3">
        <p>&copy; 2023 Nuestra Tienda. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>